<html>
<head>
    <title>Crossmod | Try Crossmod</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/client.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
    <main>
        <h1>Try Crossmod</h1>
        <input type="text" class="comment_input" placeholder="Enter a comment here!" />
        <div class="result_container">
        </div>
    </main>
</body>

<script src="/static/js/client.js"></script>
</html>