<!DOCTYPE html>
<html>
    <head>
        <title>Crossmod | Create an account</title>
        <style>
            input{
                display: block;
                margin: 20px;
            }
        </style>
    </head>
    
    <body>
        <form class="create_form" action="/accounts/create/" method="post" enctype="multipart/form-data">
            <input type="text" name="email" placeholder="Email"/>
            <input class="password_input" type="password" name="password" placeholder="Password"/>
            <input type="submit" name="signup" value="sign up" class="create_button" />
        </form>
        <p>Already have an account? <a href="/accounts/login/">Login</a></p>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.8.0/sha512.min.js"></script>
    <script>
        var create_form = document.querySelector(".create_form")
        var create_button = document.querySelector(".create_button")
        var password_input = document.querySelector(".password_input")
        
        create_button.addEventListener("click", function(event){
            event.preventDefault()
            password_input.value= sha512(password_input.value)
            create_form.submit()
        })
    </script>
</html>
