<!DOCTYPE HTML>
<html>
    <head>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.js"></script>
        <script src = "/static/js/venn.min.js"></script>
        <title>Crossmod Live Dashboard</title>
    </head>

    <body>
        <h1>Crossmod Dashboard</h1>
        <ul>
            <li>
                <p>
                    <b>Total number of comments ingested: </b> 
                    {{ crossmod_state['total_comments'] }} 
                </p>
            </li>

            <li>
                <p>
                    <b>Total number of Moderator Removals: </b> 
                    {{ crossmod_state['automoderator'] + crossmod_state['moderators'] }} 
                </p>
            </li>

            
            <li> 
                <p>
                    <b>Flagged by Crossmod (agreement score >= 0.85) </b> 
                    {{ crossmod_state['crossmod_agreement_score'] }} 
                </p>
            </li>   
     
            <li> 
                <p>
                    <b>Number of days Crossmod has been active </b> 
                    {{ crossmod_state['crossmod_active_days']    }} 
                </p>
            </li> 

            <li>    
                <p>
                    <b>Total number of Crossmod flags removed </b> 
                    {{ crossmod_state['automoderator_and_crossmod'] + crossmod_state['moderators_and_crossmod'] }} 
                </p>
            </li>

            <li> 
                <p>
                    <b>Rate of successful reports by Crossmod  </b> 
                    {{ 100 * (crossmod_state['automoderator_and_crossmod'] + crossmod_state['moderators_and_crossmod'])/crossmod_state['crossmod_agreement_score'] }} % 
                </p>
            </li>

            <!-----mAKE INTO HOVER -->
            <li>    
                <p>
                    <b>AutoModerator intersection Human Moderators </b> 
                    0 
                </p>
            </li>

            <li>    
                <p>
                    <b>AutoModerator intersection Crossmod </b> 
                    {{ crossmod_state['automoderator_and_crossmod'] }} 
                </p>
            </li>

            <li>    
                <p>
                    <b>Human Moderators intersection Crossmod </b> 
                    {{ crossmod_state['moderators_and_crossmod'] }} 
                </p>
            </li>

            <li>
                <p>
                    <b>AutoModerator Removals: </b> 
                    {{ crossmod_state['automoderator'] }} 
                </p>
            </li>

            <li>
                <p>
                    <b>Human Moderators Removals: </b> 
                    {{ crossmod_state['moderators'] }} 
                </p>
            </li>


        </ul>

        <div id = "venn">
        </div>
    </body>

    <script>
        var sets = [{sets: ['AutoModerator'], size: {{ crossmod_state['automoderator'] }} }, 
                    {sets: ['Moderators'], size: {{ crossmod_state['moderators'] }} },
                    {sets: ['Crossmod'], size: {{ crossmod_state['crossmod_agreement_score'] }} },
                    {sets: ['AutoModerator','Moderators'], size: 0},
                    {sets: ['AutoModerator','Crossmod'], size: {{ crossmod_state['automoderator_and_crossmod'] }}},
                    {sets: ['Moderators','Crossmod'], size: {{ crossmod_state['moderators_and_crossmod'] }}}];

        var chart = venn.VennDiagram()
        d3.select("#venn").datum(sets).call(chart);
    </script>
</html>